/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

/* RGB */
$color1: rgb(167, 40, 51);
$color2: rgb(222, 230, 219);
$color3: rgb(123, 195, 197);
$color4: rgb(117, 146, 163);
$color5: rgb(29, 67, 87);

$color00: #FFFFFF;
$color01: #5b6269;
$color02: #242b2e;
$color03: #f9f9f9;
$color04: #269f42cd;
$color05: #bbc4ca;
$color06: #0365d6de;


