
$color1: rgb(167, 40, 51);
$color2: rgb(222, 230, 219);
$color3: rgb(123, 195, 197);
$color4: rgb(117, 146, 163);
$color5: rgb(29, 67, 87);

$color00: #FFFFFF;
$color01: #5b6269;
$color02: #242b2e;
$color03: #f9f9f9;
$color04: #269f42cd;
$color05: #bbc4ca;
$color06: #0365d6de;


$bg-primary:        $color03;
$bg-secondary:      $color02;
$bg-success:        $color04;
$bg-card-primary:   $color00;

$color-primary:     $color01;
$color-secondary:   $color00;
$color-link-primary: $color06;

$border-primary:    $color05;


